.form-control {
    margin-right: 20px;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 30px;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 1.5em;
    color:rgb(102, 102, 102);
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 14px;
}

.input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    padding:10px;
    border-radius: 3px;
}

.long {
    width: 300px;
}

.add-form{
    padding: 50px;
}

@media screen and (max-width: 1000px) {
    .input{
        width: 300px;
    }
  
}

@media screen and (max-width: 440px) {
    .input{
        width: 200px;
    }
    .long {
        width: 200px;
    }
  
}
.form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

 .submitButton , button{
    color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

.red {
    background-color: #d43f3a;
}

.green{
    background-color: #4cae4c;
}

.blue{
    background-color: #2e6da4;
}

.container{
    width: 70%;
}