<div class="container">
  <div class="top">
    <div class="recipe-list">
      <button style="margin-bottom: 25px">New Recipe</button>
      <div *ngFor="let item of recipes" (click)="onhandleItemClick(item)">
        <div
          class="item"
          [ngClass]="{ 'item-active': item.id === currentSelection?.id }"
        >
          <div>
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
          </div>
          <div>
            <img class="small-img" [src]="item.uri" alt="Food" />
          </div>
        </div>
      </div>
    </div>
    <div class="the-recipe">
      <div *ngIf="currentSelection; else text">
        <img [src]="currentSelection.uri" alt="Food" />
        <div>
          <h2>{{ currentSelection.name | uppercase }}</h2>
          <button class="red" (click)="handleRemoval()">Remove Recipe</button>
          <h3>{{ currentSelection.description }}</h3>
          {{ currentSelection.ingredients[0] }}
          <div
            class="ingredients-item"
            *ngFor="let item of currentSelection.ingredients | keyvalue"
          >
            {{ item.key }} - {{ item.value }}
          </div>
        </div>
      </div>
      <ng-template #text>
        <h1>Please select a Recipe!</h1>
      </ng-template>
    </div>
  </div>
</div>
