<div class="container">
    <div class="main">
        <div class="searchBar">
          <input  
          type="text"
          name="searchValue"
          [(ngModel)]="searchValue"
          id="searchValue"
          placeholder="Find Movie" />
          <button (click)="onSearch()" (keyup.enter)="onSearch()">
            <img src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png" class="logo">
          </button>
         </div>
    </div>
  
    <h1>
      Movies
     </h1>
    <div class="slider">
      <app-slider [data]="passedValue"></app-slider>
    </div>


    <div class="movies-list">
      <div *ngFor="let movie of (search.length > 0 ? search : data)" class="movie-card" [style.background-image] =  "'url(' + 'https://image.tmdb.org/t/p/w500/' + movie['poster_path'] + ')'">
        <a [routerLink]="'/details/' + movie['id']" >
          <div class="content">
                <h2> {{movie['original_title']}}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>